:root {
  --main-text: #757575;
  --button-fon: #2196f3;
  --text: #ffffff;
  --text-headings: #212121;
  --background-color: #2f303a;
}

.nav-link {
  color: var(--text-headings);
  font-size: 14px;
  font-weight: 500;
}

.nav-link:hover {
  color: var(--button-fon);
}

.nav-link:focus {
  color: var(--button-fon);
}

.contact {
  color: var(--main-text);
  font-size: 14px;
}

.contact:hover {
  color: var(--button-fon);
}

.banner {
  background-color: var(--background-color);
  color: var(--text);
  font-size: 44px;
  font-weight: 700;
  line-height: 1.36;
  text-align: center;
}

.banner button {
  background-color: var(--button-fon);
  color: var(--text);
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

.banner button:hover {
  background-color: var(--background-color);
}

body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: var(--text);
}

.section-title-h2 {
  color: var(--text-headings);
  font-size: 14px;
  font-weight: 700;
}

.section-whatwedo-h2 {
  font-size: 36px;
  font-weight: 700;
}

.text-p {
  color: var(--main-text);
  font-size: 14px;
  line-height: 1.714;
}

.section-whatwedo-h2 {
  color: var(--text-headings);
  font-size: 36px;
}

.section-team {
  color: var(--text-headings);
  font-size: 36px;
}

.section-title-h3 {
  color: var(--text-headings);
  font-size: 16px;
  font-weight: 500;
}

.text-team {
  font-size: 16px;
}

.portfolio-title-h3 {
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
}

.text-portfolio {
  color: var(--main-text);
  font-size: 16px;
  line-height: 1.87;
}

.button {
  cursor: pointer;
  size: 16px;
}

.button:hover {
  color: var(--text);
}

.button:focus {
  background-color: var(--button-fon);
  color: var(--text);
}

.footer {
  color: var(--main-text);
  font-size: 14px;
  background-color: var(--background-color);
}

.footer:hover {
  color: var(--button-fon);
}

.footer:focus {
  color: var(--button-fon);
}

.footer-text {
  color: var(--text);
}

.footer-text:hover {
  color: var(--button-fon);
}
