.nav:hover {
  color: #2196f3;
}

.nav:focus {
  color: #2196f3;
}

body {
  font-family: Roboto, Arial, sans-serif;
  background-color: #ffffff;
}

.text-p {
  color: #757575;
}

.section-title-h3 {
  color: #212121;
}

.button {
  cursor: pointer;
}

.button:hover {
  color: #ffffff;
}

.button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.footer {
  color: #757575;
}

.footer:hover {
  color: #2196f3;
}

.footer:focus {
  color: #2196f3;
}
