:root {
  --main-text: #757575;
  --button-fon: #2196f3;
  --text: #ffffff;
  --footer-text: #ffffff99;
  --text-headings: #212121;
  --background-color: #2f303a;
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway";
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: var(--text-headings);
}

.logo-web {
  color: var(--button-fon);
}

.navigation {
  list-style: none;
}

.nav-link {
  color: var(--text-headings);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--button-fon);
}

.nav-link:focus {
  color: var(--button-fon);
}

.contact {
  color: var(--main-text);
  font-size: 14px;
  text-decoration: none;
}

.contact:hover {
  color: var(--button-fon);
}

.banner {
  background-color: var(--background-color);
  color: var(--text);
  font-size: 44px;
  font-weight: 700;
  line-height: 1.36;
  text-align: center;
}

.banner button {
  background-color: var(--button-fon);
  color: var(--text);
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

.banner button:hover {
  background-color: var(--background-color);
}

body {
  font-family: var(--main-font);
}

.section-title-h2 {
  color: var(--text-headings);
  font-size: 14px;
  font-weight: 700;
}

.section-whatwedo-h2 {
  font-size: 36px;
  font-weight: 700;
}

.text-p {
  color: var(--main-text);
  font-size: 14px;
  line-height: 1.714;
}

.section-whatwedo-h2 {
  color: var(--text-headings);
  font-size: 36px;
}

.section-list {
  list-style: none;
}

.section-team {
  color: var(--text-headings);
  font-size: 36px;
}

.section-team-list {
  list-style: none;
}

.section-title-h3 {
  color: var(--text-headings);
  font-size: 16px;
  font-weight: 500;
}

.text-team {
  font-size: 16px;
  color: var(--main-text);
}

.portfolio-title-h3 {
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
}

.portfolio-project-list {
  list-style: none;
}

.filters-list {
  list-style: none;
}

.text-portfolio {
  color: var(--main-text);
  font-size: 16px;
  line-height: 1.87;
}

.button {
  cursor: pointer;
  size: 16px;
}

.button:hover {
  color: var(--text);
}

.button:focus {
  background-color: var(--button-fon);
  color: var(--text);
}

.footer {
  color: var(--footer-text);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  background-color: var(--background-color);
  text-decoration: none;
}

.footer:hover {
  color: var(--button-fon);
}

.footer:focus {
  color: var(--button-fon);
}

.footer-text {
  color: var(--text);
  margin: 0;
}

.footer-text:hover {
  color: var(--button-fon);
}

.footer-logo {
  font-family: var(--logo-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 3%;
  color: var(--text);
  text-decoration: none;
}
